<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.aroms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin_main"></activity>
        <activity android:name=".menu" />
        <activity android:name=".inventory" />
        <activity android:name=".edit_inventory" />
        <activity android:name=".edit_dish" />
        <activity android:name=".assign_role" />
        <activity android:name=".add_user" />
        <activity android:name=".add_menu" />
        <activity android:name=".add_inventory" />
        <activity android:name=".add_dish_ingredient" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>