<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.aroms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DevelopersDotCo.SpecializeOrder"></activity>
        <activity android:name=".SalesAndReport"></activity>

        <activity android:name=".assign_role"></activity>
        <activity android:name=".SalesReport" />
        <activity android:name=".MainActivity" />
        <activity android:name=".add_user"></activity>
        <activity android:name=".Login">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kitchenManagerCancel" />
        <activity android:name=".cookMain" />
        <activity android:name=".kitchenManagerStatus" />
        <activity android:name=".Devdroids.MenuActivityDev" />
        <activity android:name=".Devdroids.Cart" />
        <activity android:name=".specializeMain" />
        <activity android:name=".Devdroids.Dish_Details" />
        <activity android:name=".Devdroids.MyOrders" />
        <activity android:name=".Dishes" />

        <activity android:name=".edit_dish"></activity>
        <activity android:name=".add_dish_ingredient"></activity>
        <activity android:name=".add_menu"></activity>
        <activity android:name=".menu"></activity>
        <activity android:name=".edit_inventory"></activity>
        <activity android:name=".add_inventory"></activity>
        <activity android:name=".inventory"></activity>


        <activity android:name=".inventory_manager_main_page">
            
        </activity>

        <activity android:name=".payment"></activity>
        <activity android:name=".ready_to_serve" />
        <activity android:name=".waiters" />
        <activity android:name=".tablets" />
        <activity android:name=".View_tables" />
        <activity android:name=".Hall_Manager_Main">
        </activity>
        

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>